extends layout

block content
    script().
        var userLevel = '#{userLevel}';
        var active = '#{session}';
    script(src='frontend-admin.js')
    table(class="adminTable")
        tr
            th ID
            th Username
            th Age
            th Email
            th Avatar
            th User Level
            th
        each item in account
            tr
                td #{item.id}
                td #{item.username}
                td #{item.age}
                td #{item.email}
                td #{"https://api.adorable.io/avatars/face/" + item.avatar_eyes + "/" + item.avatar_nose + "/" + item.avatar_mouth + "/" + item.color}
                td #{item.userLevel}
                td 
                    a(href="/delete/" + item.id) Delete