extends layout
block content
    head
        title Home
    div(class="messages")
        each item in message
            div(class="messageBoard")
                each avatar in avatarData
                    if item.username == avatar.username
                        img.image(src="https://api.adorable.io/avatars/face/"+avatar.eyes+"/"+avatar.nose+"/"+avatar.mouth+"/"+avatar.color alt="Omega" class='accountPic')
                div(class="msgHead")
                    p User: #{item.username}
                    p Date: #{item.date}
                    div(class="message")
                        p #{item.message}
                    a(class="messageButtons" id="edit" name="editButton" + item.username href="/editMessage/" + item.id) Edit
                    a(class="messageButtons" id="delete" name="deleteButton" + item.username href="/deleteMessage/" + item.id) Delete
    div(class="newPost")
        div(class="msgHead")
            p User: #{username}
            div(class="message")
                form(id='form', method='post', action='/')
                    textarea(name="userPosts", cols="60", rows="10")
                    br
                    input(type='submit', value='Post!', class='signUp button', id='post')
    script().
        var active = '#{session}';
        var username = '#{username}';
        var userLevel = '#{userLevel}';
        var message_user = '#{message_user}';
        var messages = !{messageData};