extends layout
block content
    head
        title Home
    each item in message
        div(class="messageBoard")
            div(class="msgHead")
                p User: #{item.username}
                p Date: #{item.date}
                div(class="message")
                    p #{item.message}
                a(name="editButton" + item.username href="/editMessage/" + item.id) Edit
                a(href="/deleteMessage/" + item.id) Delete
    div(class="messageBoard")
        div(class="msgHead")
            p User Name: #{username}
            div(class="message")
                form(id='form', method='post', action='/')
                    textarea(name="userPosts", cols="60", rows="10")
                    br
                    input(type='submit', value='Post!', class='signUp', id='button')
    script().
        var active = '#{session}';
        var userLevel = '#{userLevel}';