extends layout
block content   
    each item in message
        div(class="messageBoard")
            div(class="msgHead")
                p #{item.username}:
                div(class="message")
                    p #{item.message}
                        div(class="date")
                            p #{item.date}
    div(class="messageBoard")
        div(class="msgHead")
            p User Name: #{username}
            div(class="message")
                form(id='form', method='post', action='/')
                    textarea(name="userPosts", cols="50", rows="5")
                    br
                    input(type='submit', value='Post!', class='signUp', id='button')
    script().
        var active = '#{session}';