doctype html
html
    head
        link(href='style.css' rel='stylesheet')
    body
        nav
            ul(class='menu')
                a(href='/' class='menuItem L')
                    li(id='Home') #{'Home'}

                a(href='/create' class='menuItem R')
                    li(id='sign_up') #{'Sign Up'}
                a(href='/login' class='menuItem R')
                    li(id='login') #{'Login'}

                a(href='/acount' class='menuItem R')
                    li(id='acount') #{'Acount'}
                a(href='/logout' class='menuItem R')
                    li(id='logout') #{'Logout'}
    img.image(src="/Omega.png" alt="Omega" class='logo')           
    block content