doctype html
html
    head
        link(href='style.css' rel='stylesheet')
    body
        nav
            ul(class='menu')
                a(href='/' class='menuItem L')
                    li(id='Home') #{'Home'}
                    
                a(id='sign_up' href='/create' class='menuItem R')
                    li #{'Sign Up'}
                a(id='login' href='/login' class='menuItem R')
                    li #{'Login'}
                a(id='admin' href='/admin' class='menuItem R')
                    li #{'Admin'}
                a(id="logout" href='/logout' class='menuItem R')
                    li #{'Logout'}
                a(id="account" href='/account' class='menuItem R')
                    li #{'Account'}              
    img.image(src="/Omega.png" alt="Omega" class='logo')
    block content
    script(src='frontend.js')
